name: "POC: ChatOps Receiver"

# "repository_dispatch"는 Lambda가 API로 호출할 수 있는 유일한 트리거입니다.
on:
  repository_dispatch:
    types: [ start-deployment ] # 'start-deployment'라는 신호를 받으면

jobs:
  run-on-signal:
    runs-on: ubuntu-latest
    steps:
      - name: "Lambda 신호 수신 성공!"
        run: |
          echo "Slack에서 보낸 Lambda의 신호를 받았습니다!"
          echo "Payload: ${{ github.event.client_payload.message }}"
